@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,500,600&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ============================================================================= */

*{
    /* --main-color: #038254; */
    --main-color: #E87641;
    --tertiary-color: rgb(187, 93, 50);
    --nav-color: #3d7a65;
    --secondary-color: #3E515E;
    --hovered-color: #04a369;
}

html {
    font-family: 'Fira Sans', sans-serif;
    background-color: var(--main-color)
}

body{
    background: url("./assets/crag.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

main{
    background: rgba(169, 169, 169, 0.568);
    margin: 0;
    padding: 0;
    height: 100%;
}

footer{
    background: var(--secondary-color);
    padding: 1.5vh 1vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    font-size: 2vw;
}

#footer-name{
    align-self: center;
    font-size: 1.5vw;
}

.fab{
    margin: 0 1vw;
    transition: 0.15s color;
}

.fab:hover{
    color: var(--tertiary-color)
}

#title {
    font-size: 5vw;
    padding: 3vh 2vw;
    text-shadow: 1px 1px 10px rgb(84, 7, 94), 10px 10px rgb(220, 117, 20),
    15px 15px rgb(221, 224, 12)
}

img {
    width: 8vw;
    float: left;
}

header {
    width: 100%;
    height: fit-content;
    background: linear-gradient(to bottom right, #F34E39, rgb(221, 157, 18))
}

.header-container {
    flex-flow: row nowrap;
    text-align: center;
}

nav {
    margin: 2vh 1vw;
    border-left: 0.25vh solid black;
    width: fit-content;
    padding: 4vh 0;
    float: left;
    font-size: 2.5vw;
    display: inline-flex;
    background:rgba(243, 147, 57, 0.582);
    position: fixed;
}



ul {
    text-align: center;
}

.climb-list{
    margin-left: 1vw;
    background: grey;
}

.card-title:hover{
    color: var(--tertiary-color);
    cursor: pointer;
}

.nav-element {
    padding: 1vh 3vw;
    padding-left: 1vw;
    margin: 2vh;
    width: 2vw;
    color: var(--nav-color);
    white-space: nowrap;
    border-left: 0.5vh solid transparent;
    transition: 0.2s border-left-color, color;
}

.nav-element:before{
    border-left-color:rgb(82, 122, 235);
}

.nav-element:hover:not(.selected){
    /* background: white; */
    border-left-color:rgb(82, 122, 235);
    color: var(--hovered-color)
}


.selected{
    /* background: rgba(122, 122, 122, 0.603); */
    border-left: 0.5vh solid rgb(54, 84, 167);
    color: var(--secondary-color);
}

a{
    text-decoration: none;
    color: var(--main-color);
}

form{
    align-self: center;
    border: 1px solid var(--main-color);
    margin: 5vh 40vw;
    font-size: 1.5vw;
    display:flex;
    justify-content: center;
    text-align: center;
    border: 1px solid var(--secondary-color);
    background: var(--secondary-color);
    padding: 7vh 1vw;
    /* margin-bottom: 38vh; */
}


[type="text"], [type="number"]{
    font-size: 1.5vw;
    display: block;
    margin: 2vh 0;
}

.map-div{
    display:flex;
    justify-content: center;
}

#map{
    height: 50vh;
    width: 50vw;
}

.info-title{
    font-size: 3vh;
    text-align: center;
    color: var(--nav-color);
}

.info-window{
    display:flex;
    flex-flow: column nowrap;
    justify-items: center;
}

.info-image{
    justify-self: center;
}

.sub-info{
    color:black;
}

#form-submit{
    width: 100%;
    padding: 1vh;
    margin-top: 2vh;
    border-radius: 5vw;
    font-size: 3vh;
    background: var(--main-color);
    box-shadow: 3px 3px lavender;
    outline: none;
}

#about-div{
    display: flex;
    justify-items: center;
    margin-left: 33vw;
    margin-top: 10vh;
    text-align: center;
    width: 33vw;
    border: 1px solid black;
    padding: 1vh 2vw;
    background: linear-gradient(to bottom, var(--secondary-color), rgb(3, 8, 48));
}

#about{
    font-size: 2vw;
}

h2.search {
    padding: 3vh 0vw;
}

.heading{
    text-align: center;
}

#form-submit:active{
    box-shadow: 1px 1px lavender;
}

h2{
    text-align:center;
    padding: 3vh;
    font-size: 3vw;
}

ul{
    display: inline;
    width: 15vw;
}

#sub-title{
    height: fit-content;
    color: rgb(30, 40, 70);
    display: block;
}

.climbs{
    margin-top: 10vh;
    display: flex; 
    /* justify-items: space-around; */
    align-items: center; 
    flex-flow: column nowrap; 
}

.results{
    font-size: 3vw;
}
/* 
.climb-list{
    padding-bottom: 1000px;
    width: 100%;
} */

.climb{
    width: fit-content;
    border: 1px solid var(--main-color);
    margin: 2vh 2vw;
    padding: 3vh 2vw;
    padding-top: 2vh;
    background: var(--secondary-color);
    box-shadow: 1px 2px 10px 1px black;
}

.card-title{
    text-shadow: 2px 2px 5px black;
    transition: 0.15s color;
}


.card-image{
    width: 5vw;
    height: 12vh;
    justify-self: center;
}

p{
    color: white;
    margin: 1vh;
    text-shadow: 1px 1px 10px black;
}

#slogan{
    font-size: 2vw;
    padding: 1vw;
    text-shadow: 1px 1px rgb(228, 143, 16), 2px 2px 10px black;;
}

@media screen and (max-width: 1280px){
    #search-form{
        font-size: 2vw;
        margin-left: 37vw;
        margin-right: 37vw;
    }
    [type="text"], [type="number"]{
        font-size: 2vw;
    }
}